<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-partner-heading" jhiTranslate="homespaApp.partner.home.createOrEditLabel">Create or edit a Partner</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!partner.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="partner.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.partner.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="partner.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.partner.partnerType" for="field_partnerType">Partner Type</label>
                    <input type="text" class="form-control" name="partnerType" id="field_partnerType"
                        [(ngModel)]="partner.partnerType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.partner.customerType" for="field_customerType">Customer Type</label>
                    <input type="text" class="form-control" name="customerType" id="field_customerType"
                        [(ngModel)]="partner.customerType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.partner.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="partner.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.partner.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                        [(ngModel)]="partner.city" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.partner.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="partner.address" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.partner.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="partner.phone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.partner.longCoord" for="field_longCoord">Long Coord</label>
                    <input type="number" class="form-control" name="longCoord" id="field_longCoord"
                        [(ngModel)]="partner.longCoord" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.partner.latCoord" for="field_latCoord">Lat Coord</label>
                    <input type="number" class="form-control" name="latCoord" id="field_latCoord"
                        [(ngModel)]="partner.latCoord" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.partner.openTime" for="field_openTime">Open Time</label>
                    <div class="d-flex">
                        <input id="field_openTime" type="datetime-local" class="form-control" name="openTime" [(ngModel)]="openTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.partner.closeTime" for="field_closeTime">Close Time</label>
                    <div class="d-flex">
                        <input id="field_closeTime" type="datetime-local" class="form-control" name="closeTime" [(ngModel)]="closeTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.partner.isWeekendOpen" for="field_isWeekendOpen">Is Weekend Open</label>
                    <input type="checkbox" class="form-control" name="isWeekendOpen" id="field_isWeekendOpen"
                        [(ngModel)]="partner.isWeekendOpen" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.partner.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                        [(ngModel)]="partner.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.partner.timeConfirm" for="field_timeConfirm">Time Confirm</label>
                    <input type="text" class="form-control" name="timeConfirm" id="field_timeConfirm"
                        [(ngModel)]="partner.timeConfirm" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.partner.bussinessLicenseUrl" for="field_bussinessLicenseUrl">Bussiness License Url</label>
                    <input type="text" class="form-control" name="bussinessLicenseUrl" id="field_bussinessLicenseUrl"
                        [(ngModel)]="partner.bussinessLicenseUrl" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="homespaApp.partner.category" for="field_category">Category</label>
                    <select class="form-control" id="field_category" multiple name="category" [(ngModel)]="partner.categories">
                        <option [ngValue]="getSelected(partner.categories, categoryOption)" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.category}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
