<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="staff">
            <h2><span jhiTranslate="homespaApp.staff.detail.title">Staff</span> {{staff.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="homespaApp.staff.userId">User Id</span></dt>
                <dd>
                    <span>{{staff.userId}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.staff.partnerId">Partner Id</span></dt>
                <dd>
                    <span>{{staff.partnerId}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.staff.type">Type</span></dt>
                <dd>
                    <span>{{staff.type}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.staff.status">Status</span></dt>
                <dd>
                    <span>{{staff.status}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.staff.startTime">Start Time</span></dt>
                <dd>
                    <span>{{staff.startTime}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.staff.endTime">End Time</span></dt>
                <dd>
                    <span>{{staff.endTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/staff', staff.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
