<div>
    <h2 id="page-heading">
        <span jhiTranslate="homespaApp.servImg.home.title">Serv Imgs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-serv-img" [routerLink]="['/serv-img/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="homespaApp.servImg.home.createLabel">
            Create new Serv Img
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="servImgs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceId"><span jhiTranslate="homespaApp.servImg.serviceId">Service Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imgUrl"><span jhiTranslate="homespaApp.servImg.imgUrl">Img Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="homespaApp.servImg.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="index"><span jhiTranslate="homespaApp.servImg.index">Index</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let servImg of servImgs ;trackBy: trackId">
                <td><a [routerLink]="['/serv-img', servImg.id, 'view' ]">{{servImg.id}}</a></td>
                <td>{{servImg.serviceId}}</td>
                <td>{{servImg.imgUrl}}</td>
                <td>{{servImg.status}}</td>
                <td>{{servImg.index}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/serv-img', servImg.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/serv-img', servImg.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'serv-img/'+ servImg.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="servImgs && servImgs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
