<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-serv-img-heading" jhiTranslate="homespaApp.servImg.home.createOrEditLabel">Create or edit a Serv Img</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!servImg.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="servImg.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.servImg.imgUrl" for="field_imgUrl">Img Url</label>
                    <input type="text" class="form-control" name="imgUrl" id="field_imgUrl"
                        [(ngModel)]="servImg.imgUrl" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.servImg.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="servImg.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.servImg.index" for="field_index">Index</label>
                    <input type="number" class="form-control" name="index" id="field_index"
                        [(ngModel)]="servImg.index" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.servImg.serv" for="field_serv">Serv</label>
                    <select class="form-control" id="field_serv" name="serv" [(ngModel)]="servImg.serv" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="servOption.id === servImg.serv?.id ? servImg.serv : servOption" *ngFor="let servOption of servs; trackBy: trackServById">{{servOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
