<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-treatment-heading" jhiTranslate="homespaApp.treatment.home.createOrEditLabel">Create or edit a Treatment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!treatment.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="treatment.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.treatment.serviceId" for="field_serviceId">Service Id</label>
                    <input type="number" class="form-control" name="serviceId" id="field_serviceId"
                        [(ngModel)]="treatment.serviceId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.treatment.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="treatment.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.treatment.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="treatment.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.treatment.duration" for="field_duration">Duration</label>
                    <input type="number" class="form-control" name="duration" id="field_duration"
                        [(ngModel)]="treatment.duration" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.treatment.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="treatment.price" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.treatment.discount" for="field_discount">Discount</label>
                    <input type="number" class="form-control" name="discount" id="field_discount"
                        [(ngModel)]="treatment.discount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.treatment.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="treatment.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.treatment.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="treatment.createdBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.treatment.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="createdDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.treatment.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedBy" type="datetime-local" class="form-control" name="lastModifiedBy" [(ngModel)]="lastModifiedBy"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.treatment.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="lastModifiedDate"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
