<div>
    <h2 id="page-heading">
        <span jhiTranslate="homespaApp.bookingActivity.home.title">Booking Activities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-booking-activity" [routerLink]="['/booking-activity/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="homespaApp.bookingActivity.home.createLabel">
            Create new Booking Activity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bookingActivities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bookingId"><span jhiTranslate="homespaApp.bookingActivity.bookingId">Booking Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="staffId"><span jhiTranslate="homespaApp.bookingActivity.staffId">Staff Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="treatmentId"><span jhiTranslate="homespaApp.bookingActivity.treatmentId">Treatment Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDate"><span jhiTranslate="homespaApp.bookingActivity.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="finishDate"><span jhiTranslate="homespaApp.bookingActivity.finishDate">Finish Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="homespaApp.bookingActivity.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bookingActivity of bookingActivities ;trackBy: trackId">
                <td><a [routerLink]="['/booking-activity', bookingActivity.id, 'view' ]">{{bookingActivity.id}}</a></td>
                <td>{{bookingActivity.bookingId}}</td>
                <td>{{bookingActivity.staffId}}</td>
                <td>{{bookingActivity.treatmentId}}</td>
                <td>{{bookingActivity.startDate | date:'medium'}}</td>
                <td>{{bookingActivity.finishDate | date:'medium'}}</td>
                <td>{{bookingActivity.status}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/booking-activity', bookingActivity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/booking-activity', bookingActivity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'booking-activity/'+ bookingActivity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="bookingActivities && bookingActivities.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
