<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-voucher-heading" jhiTranslate="homespaApp.voucher.home.createOrEditLabel">Create or edit a Voucher</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!voucher.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="voucher.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.voucher.partnerId" for="field_partnerId">Partner Id</label>
                    <input type="number" class="form-control" name="partnerId" id="field_partnerId"
                        [(ngModel)]="voucher.partnerId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.voucher.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="voucher.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.voucher.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="voucher.type" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.voucher.discription" for="field_discription">Discription</label>
                    <input type="text" class="form-control" name="discription" id="field_discription"
                        [(ngModel)]="voucher.discription" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.voucher.discount" for="field_discount">Discount</label>
                    <input type="number" class="form-control" name="discount" id="field_discount"
                        [(ngModel)]="voucher.discount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.voucher.priceAbove" for="field_priceAbove">Price Above</label>
                    <input type="number" class="form-control" name="priceAbove" id="field_priceAbove"
                        [(ngModel)]="voucher.priceAbove" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.voucher.maxDiscount" for="field_maxDiscount">Max Discount</label>
                    <input type="number" class="form-control" name="maxDiscount" id="field_maxDiscount"
                        [(ngModel)]="voucher.maxDiscount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.voucher.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="voucher.createdBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.voucher.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="createdDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.voucher.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedBy" type="datetime-local" class="form-control" name="lastModifiedBy" [(ngModel)]="lastModifiedBy"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homespaApp.voucher.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="lastModifiedDate"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
