<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="voucher">
            <h2><span jhiTranslate="homespaApp.voucher.detail.title">Voucher</span> {{voucher.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="homespaApp.voucher.partnerId">Partner Id</span></dt>
                <dd>
                    <span>{{voucher.partnerId}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.name">Name</span></dt>
                <dd>
                    <span>{{voucher.name}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.type">Type</span></dt>
                <dd>
                    <span>{{voucher.type}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.discription">Discription</span></dt>
                <dd>
                    <span>{{voucher.discription}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.discount">Discount</span></dt>
                <dd>
                    <span>{{voucher.discount}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.priceAbove">Price Above</span></dt>
                <dd>
                    <span>{{voucher.priceAbove}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.maxDiscount">Max Discount</span></dt>
                <dd>
                    <span>{{voucher.maxDiscount}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.status">Status</span></dt>
                <dd>
                    <span>{{voucher.status}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.createdBy">Created By</span></dt>
                <dd>
                    <span>{{voucher.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{voucher.createdDate}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{voucher.lastModifiedBy}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.lastModifiedDate">Last Modified Date</span></dt>
                <dd>
                    <span>{{voucher.lastModifiedDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/voucher', voucher.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
