<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="voucher">
            <h2><span jhiTranslate="homespaApp.voucher.detail.title">Voucher</span> {{voucher.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="homespaApp.voucher.name">Name</span></dt>
                <dd>
                    <span>{{voucher.name}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.type">Type</span></dt>
                <dd>
                    <span>{{voucher.type}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.discription">Discription</span></dt>
                <dd>
                    <span>{{voucher.discription}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.discount">Discount</span></dt>
                <dd>
                    <span>{{voucher.discount}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.customer">Customer</span></dt>
                <dd>
                    <span *ngFor="let customer of voucher.customers; let last = last">
                        <a [routerLink]="['/customer', customer?.id, 'view' ]">{{customer.customer}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.serv">Serv</span></dt>
                <dd>
                    <span *ngFor="let serv of voucher.servs; let last = last">
                        <a [routerLink]="['/serv', serv?.id, 'view' ]">{{serv.serv}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.booking">Booking</span></dt>
                <dd>
                    <span *ngFor="let booking of voucher.bookings; let last = last">
                        <a [routerLink]="['/booking', booking?.id, 'view' ]">{{booking.booking}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="homespaApp.voucher.partner">Partner</span></dt>
                <dd>
                    <div *ngIf="voucher.partner">
                        <a [routerLink]="['/partner', voucher.partner?.id, 'view']">{{voucher.partner?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/voucher', voucher.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
