<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="category">
            <h2><span jhiTranslate="homespaApp.category.detail.title">Category</span> {{category.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="homespaApp.category.name">Name</span></dt>
                <dd>
                    <span>{{category.name}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.category.imgUrl">Img Url</span></dt>
                <dd>
                    <span>{{category.imgUrl}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.category.status">Status</span></dt>
                <dd>
                    <span>{{category.status}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.category.createdBy">Created By</span></dt>
                <dd>
                    <span>{{category.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.category.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{category.createdDate}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.category.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{category.lastModifiedBy}}</span>
                </dd>
                <dt><span jhiTranslate="homespaApp.category.lastModifiedDate">Last Modified Date</span></dt>
                <dd>
                    <span>{{category.lastModifiedDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/category', category.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
